
*/target/*
#for Intellij Idea
.idea/
.idea/workspace.xml
**/.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml

*.ipr
*.iml
*.iws
.DS_Store
log/
target/
.idea/
Thumbs.db
ehthumbs.db
Desktop.ini
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
#Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.class
*.jar
*.war
*.ear
*.log





